  @media only screen and (max-width: 600px) {
    .nav-item:last-child {
      order: -1;
    }
  
  }


  .logOut{
    background-color: transparent;
    text-align: center;
    border: 1px solid #ffffff !important;
    /* color: aliceblue!important; */
    font-family: "Euclid Circular A", Akzidenz, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 10px;
    outline: none;
    transition: 1s ease-in-out;
    

  }
/* navbar button */
  
.customBtn {
  width: 130px;
  height: 40px;
  color: #ffffff !important;
  margin: 5px;
  text-align:center;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  
}

.btn5 {
  width: 130px;
  height: 40px;
  padding: 0;
  border: none;
  background: transparent !important;
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
}
.btn5:hover {
  color: #ffffff;
  background: transparent;
   box-shadow:none;
}
.btn5:before,
.btn5:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #ffffff;
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.btn5:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn5:hover:before,
.btn5:hover:after{
  width:100%;
  transition:800ms ease all;
}
